@font-face {
  font-family: 'Daydream';
  src: url('/static/fonts/daydream_3/daydream_modified.ttf') format('truetype');
}

@font-face {
  font-family: 'Mario64';
  src: url('/static/fonts/mario64/Mario64.ttf') format('truetype');
}

@font-face {
  font-family: 'PressStart2P';
  src: url('/static/fonts/press_start_2p/PressStart2P.ttf') format('truetype');
}
@font-face {
  font-family: 'Adventurer';
  src: url('/static/fonts/Adventurer.ttf') format('truetype');
}

@font-face {
  font-family: 'Born2bSportyV2';
  src: url('/static/fonts/Born2bSportyV2.ttf') format('truetype');
}

@font-face {
  font-family: 'BoxyBoldv2';
  src: url('/static/fonts/BoxyBoldv2.ttf') format('truetype');
}

@font-face {
  font-family: 'ChiKareGo2';
  src: url('/static/fonts/ChiKareGo2.ttf') format('truetype');
}

@font-face {
  font-family: 'MK1GameGearV2';
  src: url('/static/fonts/MK1GAMEGEARV2.ttf') format('truetype');
}

@font-face {
  font-family: 'Monogram';
  src: url('/static/fonts/monogram.ttf') format('truetype');
}

@font-face {
  font-family: 'PixelByzantine';
  src: url('/static/fonts/PixelByzantine.ttf') format('truetype');
}

@font-face {
  font-family: 'PixelItalic';
  src: url('/static/fonts/Pixel_Italic.ttf') format('truetype');
}

@font-face {
  font-family: 'PlainPixel';
  src: url('/static/fonts/PlainPixel.ttf') format('truetype');
}

@font-face {
  font-family: 'Seraphimb1';
  src: url('/static/fonts/Seraphimb1.ttf') format('truetype');
}

@font-face {
  font-family: 'Sonic1';
  src: url('/static/fonts/Sonic1.ttf') format('truetype');
}

@font-face {
  font-family: 'Streetwize';
  src: url('/static/fonts/Streetwize.ttf') format('truetype');
}

@font-face {
  font-family: 'SuperMario64';
  src: url('/static/fonts/SuperMario64.ttf') format('truetype');
}

@font-face {
  font-family: 'TrueItalic';
  src: url('/static/fonts/trueitalic.ttf') format('truetype');
}

$pixel-fonts: (
    'Adventurer':     (default-size: 16px, uppercase: false),
    'Born2bSportyV2': (default-size: 16px, uppercase: false),
    'BoxyBoldv2':     (default-size: 16px, uppercase: false),
    'ChiKareGo2':     (default-size: 16px, uppercase: false),
    'Daydream':       (default-size: 13px, uppercase: true),
    'MK1GameGearV2':  (default-size: 16px, uppercase: false),
    'Monogram':       (default-size: 16px, uppercase: false),
    'PixelByzantine': (default-size: 16px, uppercase: false),
    'PlainPixel':     (default-size: 16px, uppercase: false),
    'PressStart2P':   (default-size: 8px, uppercase: false),
    'Seraphimb1':     (default-size: 16px, uppercase: false),
    'Sonic1':         (default-size: 16px, uppercase: false),
    'Streetwize':     (default-size: 16px, uppercase: false),
    'SuperMario64':   (default-size: 16px, uppercase: false),
    'TrueItalic':     (default-size: 16px, uppercase: false)
);

// Mixin for reusable font styling
@mixin pixel-font($font-name, $scale: 1) {
  $font-data: map-get($pixel-fonts, $font-name);

  @if $font-data == null {
    @error "Font #{$font-name} is not defined in the $pixel-fonts map.";
  }

  $default-size: map-get($font-data, default-size);
  $uppercase: map-get($font-data, uppercase);

  font-family: $font-name, sans-serif;
  font-size: calc(#{$default-size} * #{$scale});
  line-height: 1;

  @if $uppercase {
    text-transform: uppercase;
  }
}

.game-entry {
  display: flex;
  justify-content: space-between;
  width: 480px;
  margin: 16px;
  flex: 0;
}

.game-list {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

a {
  color: #faebd7;
  font-family: "Mario64", serif;
  font-size: 12px;
  text-decoration: none;
}

@each $font-name, $ignored in $pixel-fonts {
  .font-preview.#{$font-name} {
    @include pixel-font($font-name, 1);
  }
  h1.font-preview.#{$font-name} {
    @include pixel-font($font-name, 2);
  }
}

body {
  color: #faebd7;
  overflow: hidden;
  text-transform: unset;
  min-height: 100vh;
  background-image: url("/static/code_long_transparent.png");
  background-repeat: no-repeat;

  .the-page {
    max-width: 1024px;
    min-width: 420px;
    margin-left: auto;
    margin-right: auto;

    @include pixel-font("PlainPixel", 1);
  }

  .the-top {
    margin-top: 16px;
    margin-bottom: 16px;
    margin-left: 4px;
    margin-right: 4px;
  }

  .the-games {
    background-color: #4f3e4e;
  }

  h1 {
    @include pixel-font('Daydream', 2);
  }

  h2 {
    font-size: 16px;
  }

  h3, h4 {
    font-family: "Daydream", sans-serif;
    word-spacing: 8px;
    font-size: 13px;
    text-transform: uppercase;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #2f1e2e;
    z-index: -20;
  }
}