@use "sass:map";

@font-face {
  font-family: 'Daydream';
  src: url('/static/fonts/daydream_3/daydream_modified.ttf') format('truetype');
}

@font-face {
  font-family: 'Mario64';
  src: url('/static/fonts/mario64/Mario64.ttf') format('truetype');
}

@font-face {
  font-family: 'PressStart2P';
  src: url('/static/fonts/press_start_2p/PressStart2P.ttf') format('truetype');
}
@font-face {
  font-family: 'Adventurer';
  src: url('/static/fonts/Adventurer.ttf') format('truetype');
}

@font-face {
  font-family: 'Born2bSportyV2';
  src: url('/static/fonts/Born2bSportyV2.ttf') format('truetype');
}

@font-face {
  font-family: 'BoxyBoldv2';
  src: url('/static/fonts/BoxyBoldv2.ttf') format('truetype');
}

@font-face {
  font-family: 'ChiKareGo2';
  src: url('/static/fonts/ChiKareGo2.ttf') format('truetype');
}

@font-face {
  font-family: 'MK1GameGearV2';
  src: url('/static/fonts/MK1GAMEGEARV2.ttf') format('truetype');
}

@font-face {
  font-family: 'Monogram';
  src: url('/static/fonts/monogram.ttf') format('truetype');
}

@font-face {
  font-family: 'PixelByzantine';
  src: url('/static/fonts/PixelByzantine.ttf') format('truetype');
}

@font-face {
  font-family: 'PixelItalic';
  src: url('/static/fonts/Pixel_Italic.ttf') format('truetype');
}

@font-face {
  font-family: 'PlainPixel';
  src: url('/static/fonts/PlainPixel.ttf') format('truetype');
}

@font-face {
  font-family: 'Seraphimb1';
  src: url('/static/fonts/Seraphimb1.ttf') format('truetype');
}

@font-face {
  font-family: 'Sonic1';
  src: url('/static/fonts/Sonic1.ttf') format('truetype');
}

@font-face {
  font-family: 'Streetwize';
  src: url('/static/fonts/Streetwize.ttf') format('truetype');
}

@font-face {
  font-family: 'SuperMario64';
  src: url('/static/fonts/SuperMario64.ttf') format('truetype');
}

@font-face {
  font-family: 'TrueItalic';
  src: url('/static/fonts/trueitalic.ttf') format('truetype');
}

$pixel-fonts: (
    'Adventurer':     (default-size: 16px, uppercase: false),
    'Born2bSportyV2': (default-size: 16px, uppercase: false),
    'BoxyBoldv2':     (default-size: 16px, uppercase: false),
    'ChiKareGo2':     (default-size: 16px, uppercase: false),
    'Daydream':       (default-size: 13px, uppercase: true),
    'MK1GameGearV2':  (default-size: 16px, uppercase: false),
    'Monogram':       (default-size: 16px, uppercase: false),
    'PixelByzantine': (default-size: 16px, uppercase: false),
    'PlainPixel':     (default-size: 16px, uppercase: false),
    'PressStart2P':   (default-size: 8px, uppercase: false),
    'Seraphimb1':     (default-size: 16px, uppercase: false),
    'Sonic1':         (default-size: 16px, uppercase: false),
    'Streetwize':     (default-size: 16px, uppercase: false),
    'SuperMario64':   (default-size: 16px, uppercase: false),
    'TrueItalic':     (default-size: 16px, uppercase: false)
);

// Mixin for reusable font styling
@mixin pixel-font($font-name, $scale: 1) {
  $font-data: map.get($pixel-fonts, $font-name);

  @if $font-data == null {
    @error "Font #{$font-name} is not defined in the $pixel-fonts map.";
  }

  $default-size: map.get($font-data, default-size);
  $uppercase: map.get($font-data, uppercase);

  font-family: $font-name, sans-serif;
  font-size: calc(#{$default-size} * #{$scale});
  line-height: 1;

  @if $uppercase {
    text-transform: uppercase;
  }
}


.navigation {
  @media screen and (min-width: 1080px) {
    h1 {
      @include pixel-font('Daydream', 6);
      text-transform: uppercase;
    }

    .user-menu {
      text-align: right;
      margin-right: 4px;
      margin-left: auto;

      .welcome-text {
        margin-right: 1px;
      }

      button {
        margin: 8px 0 8px 8px;
      }
    }
  }

  @media screen and (max-width: 1080px) {
    h1 {
      @include pixel-font('Daydream', 4);
      text-transform: uppercase;
    }

    .user-menu {
      text-align: left;
      margin-left: 4px;

      .welcome-text {
        margin-left: 4px;
      }

      button {
        margin: 8px 8px 8px 0;
      }
    }
  }

  h1 {
    @include pixel-font('Daydream', 4);
    text-transform: uppercase;
  }

  .user-menu {
    margin-top: -2px;
    display: flex;
    flex-direction: column;

    @include pixel-font("TrueItalic", 2);

    .username {
      @include pixel-font("Streetwize", 2);
    }

    .user-menu-buttons {
      margin-top: auto;
    }
  }
}

button {
  @include pixel-font("TrueItalic", 2);
  color: #faebd7;
  background-color: #4f3e4e;
  border: 0;
  padding: 0 10px 4px 12px;
  cursor: pointer;
  outline: none;
  transition: box-shadow 0.2s;

  &:active {
    transform: translateY(1px); /* Simulates button press */
  }

  &:hover {
    background-color: #3f2e3e; /* Slightly lighter black for hover effect */
  }
}

.game-entry {
  display: flex;
  justify-content: space-between;
  min-width: 512px;
  min-height: 256px + 16px;

  padding: 16px;

  img {
    margin-right: 16px;
  }

  div {
    padding-left: 2px;
  }
}

.game-list {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

a {
  color: #faebd7;
  @include pixel-font("Streetwize", 2);
  text-decoration: none;

  :hover {
    cursor: pointer;
  }
}

@each $font-name, $ignored in $pixel-fonts {
  .font-preview.#{$font-name} {
    @include pixel-font($font-name, 2);
  }
  h1.font-preview.#{$font-name} {
    @include pixel-font($font-name, 4);
  }
}

body {
  color: #faebd7;
  overflow: hidden;
  text-transform: unset;
  background-image: url("/static/code_long_transparent.png");
  background-color: #2f1e2e;
  background-repeat: no-repeat;
  overflow-y: auto;
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0;

  @include pixel-font("Streetwize", 2);

  .the-page {
    position: relative;
    width: 80vw;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2em;
    transform: translateX(var(--pixel-align-offset));
  }

  .navigation {
    padding-top: 1em;
    padding-bottom: 0.5em;
    padding-left: 0.5em;
    padding-right: 0.5em;

    margin-left: 1em;
    margin-right: 1em;

    display: flex;
    flex-wrap: wrap;
  }

  .the-content {
    background-color: #4f3e4e;
    padding: 0.5em 1.25em;
  }

  h1 {
    @include pixel-font('Daydream', 4);
    text-transform: uppercase;
  }

  @media screen and (min-width: 1080px) {
    h1 {
      @include pixel-font('Daydream', 6);
      text-transform: uppercase;
    }
  }

  h2 {
    @include pixel-font('Daydream', 2);
    text-transform: uppercase;
  }
}